@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

.activity-icons div img{
    width: 18px;
    margin-right: 10px;

}
.activity-icons div{
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
    margin-top: 5px;

}

.like-button {
    margin-top: 50px;
    background-color: #ff0000; /* Red */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.like-button:hover {
    background-color: #cc0000; /* Darker Red */
}

.like-button:active {
    background-color: #990000; /* Even Darker Red */
}

.form-container {
    width: 93%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #000;
    margin: 20px 0;
    text-align: center;
}

.form-container input[type="text"],
.form-container textarea {
    width: calc(100% - 4px);
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container input[type="submit"] {
    width: 100%;
    padding: 7px;
    background-color: #C8102E;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #E02F2F;
}

.comment {
    margin-top: 10px;
    position: relative;
    background-color: #f9f9f9;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 10px;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-author {
    font-weight: bold;
    margin: 0;
    color: #007bff; /* Change the color of the comment author to blue */
    font-size: 16px; /* Increase the font size of the comment author */
}

.comment-timestamp {
    color: #999; /* Example color */
    font-size: 12px; /* Example font size */
    margin-left: 5px; /* Example margin */
    /* Add other styles as needed */
}


.comment-content {
    margin: 10px 0;
}

.comment-actions {
    color: #999;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}
.post-actions {
    color: #999;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.post-input-container #button_post {
    position: relative; /* Position the button absolutely within the container */
    bottom: 10px; /* Adjust the distance from the bottom as needed */
    right: 10px; /* Adjust the distance from the right as needed */
    display: inline-block;
    padding: 5px 15px;
    background-color: #C8102E;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: auto;
    margin-top: 20px;
}
.post-input-container label {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Adjust as needed */
}

.options-container {
    
    display: none;
    position: absolute;
    top: 20px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.comment-actions:hover + .options-container {
    display: block;
}

.options-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.options-container ul li {
    padding: 10px;
}

.options-container ul li a {
    text-decoration: none;
    color: #333;
    display: block;
}

.options-container ul li button {
    text-decoration: none;
    color: #333;
    display: block;
    background: none;
    border: none;
    cursor: pointer;
}


.options-container ul li a:hover {
    background-color: #f0f0f0;
}

.save-comment {
    display: none;
    padding: 5px 15px;
    background-color: #C8102E;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* Adjust margin as needed */
}

.save-comment:hover {
    background-color: #a80724; /* Adjust hover color as needed */
}

.options-container-post{
     display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.write-post-container {
    position: relative; /* Change position to relative */
    width: 550px;
    background: #fff;
    margin-top: 80px;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    /* Remove previous positioning properties */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1; 
}


